<h3>Add a comment:</h3>
<%= form_for Comment.new, remote: true do |f| %>
	<%= f.label :name %><br>
	<%= f.text_field :name %><br>
  <%= f.hidden_field :owner_type, value: owner.class.name %>
  <%= f.hidden_field :owner_id, value: owner.id %>
	<br>
	<%= f.label :body %><br>
	<%= f.text_area :body %><br>
	<br>
	<%= f.submit %>
<% end %>

<!-- <script type="text/javascript">
  $(document).ready ->
    $("#new_comment").on("ajax:success", (event) ->
      [data, status, xhr] = event.detail
      $("#new_comment").append xhr.responseText
    ).on "ajax:error", (event) ->
      $("#new_comment").append "<p>ERROR</p>"
</script> -->
