<div id="post_content">
	<h1 class="title"><%= @post.title %></h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@post.created_at) %> Ago
		| <%= link_to 'Edit', edit_category_post_path(@category, @post) %> |
		  <%= link_to 'Delete', category_post_path(@category, @post), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
	<p class="body"><%= @post.body %></p>

	<% if @post.file.present? %>
		<p>Uploaded file: <%= @post.file_name%></p>
	<% end %>

	<div class="comments">
		<h2><%= @post.comments.count%><%= ' ' + 'Comment'.pluralize(@post.comments.count) %></h2>
		<ul id="comments-list" id="ajax-comments">
			<%= render partial: "comments/comment", collection: @post.comments %>
		</ul>
	</div>
	<%= render partial: "comments/form", locals: { owner: @post } %>
</div>
