<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.svg" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
		</ul>
	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Categories</p>
			<% else %>
				<%= link_to "Back to All Categories", root_path %>
			<% end %>
			<div class="buttons">
				<% if controller.controller_name == "posts" %>
					<%= link_to "New Post", new_category_post_path(@category), class: 'button' %>
				<% elsif controller.controller_name == "categories" && controller.action_name == 'show' %>
					<%= link_to "New Post", new_category_post_path(@category), class: 'button' %>
					<%= link_to "New Category", new_category_path, class: 'button' %>
				<% else %>
					<%= link_to "New Category", new_category_path, class: 'button' %>
				<% end %>
			</div>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
